{% extends 'layout-admin.html' %}

{% block title %}Admin List - Deeco Electronics.{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Admin List</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">You can view registered admins here.</li>
    </ol>
</div>


<div class="container">
    <div class="card mb-3 card-dashboard">
        <div class="card-body">
            {% if admins %}
            <div class="table-responsive">
                <table id="myTable" class="display">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th class="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for admin in admins %}
                        <tr>
                            <th>{{ admin.id }}</th>
                            <td>{{ admin.name }}</td>
                            <td>{{ admin.email }}</td>
                            {% if admin.id == request.user.id %}
                            <td></td>
                            {% else %}
                            <td>
                                <a href="" class="text-dark">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p class="p-5 text-center">No admins found. Create an admin <a href="#" class="text-white">here.</a></p>
            {% endif %}
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
{% endblock content %}