{% extends 'layout.html' %}

{% block title %}Forgot Password - Deeco Electronics.{% endblock title %}

{% block content %}
<!--------- Forgot Password Container ---------->
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card">
        <div class="card-body">
            <div class="p-3">
                <h1 class="text-center">Forgot Password</h1>
            </div>
            <form action="{% url 'forgot_password' %}" method="POST">
                {% csrf_token %}
                <p>If you ever forgot your password, don't worry! We'll send an email to help you change it.</p>
                <div class="row">
                    <div class="col-md-12">
                        {% if form.errors %}
                        <span class="text-danger text-error">
                            <i class="bi bi-exclamation-circle-fill"></i>
                            Invalid Email Address.
                        </span>
                        {% endif %}
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control {% if form.errors %}error{% endif %}" placeholder=""
                                name="email">
                            <label for="floatingInput">Email</label>
                            <span class="text-danger">
                            </span>
                        </div>
                        {% include 'messages.html' %}
                    </div>
                    <div class="col-md-12 mb-3">
                        <button type="submit" class="btn btn-primary w-100">ENTER</button>
                    </div>
                    <div class="col-md-12 text-center">
                        Already remembered your password? <a href="{% url 'login' %}"
                            class="text-white text-decoration-none"><strong>Click here.</strong></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--------- End Forgot Password Container ---------->
{% endblock %}