{% extends 'layout.html' %}

{% block title %}Reset Password - Deeco Electronics.{% endblock title %}

{% block content %}
<!--------- Reset Password Container ---------->
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card">
        <div class="card-body">
            <div class="p-5">
                <h1 class="text-center">Reset Password</h1>
            </div>
            <form action="{% url 'reset_password' uidb64=uidb64 token=token %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="password" name="password1" required>
                            <label for="floatingInput">New Password *</label>
                            <span class="text-danger">
                            </span>
                            <span class="password-toggle-btn" onclick="togglePasswordVisibility()">Show</span>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="confirm-password" name="password2" required>
                            <label for="Password">Confirm New Password *</label>
                            <span class="text-danger">
                            </span>
                            <span class="confirm-password-toggle-btn"
                                onclick="toggleConfirmPasswordVisibility()">Show</span>
                        </div>

                        <!--------- Push Messages ---------->
                        {% include 'messages.html' %}
                        <!--------- End Push Messages ---------->

                    </div>
                    <div class="col-md-12 mb-3">
                        <button type="submit" class="btn btn-primary w-100">CHANGE PASSWORD</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--------- End Reset Password Container ---------->

<!--------- Show Password Toggle Style ---------->
<style>
    .password-toggle-container {
        position: relative;
    }

    .password-toggle-btn {
        font-size: 13px;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .confirm-password-toggle-btn {
        font-size: 13px;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
    }
</style>
<!--------- End Show Password Toggle Style ---------->

<!--------- Show Password Toggle Script ---------->
<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById("password");
        var passwordToggleBtn = document.querySelector(".password-toggle-btn");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            passwordToggleBtn.textContent = "Hide";
        } else {
            passwordInput.type = "password";
            passwordToggleBtn.textContent = "Show";
        }
    }

    function toggleConfirmPasswordVisibility() {
        var passwordInput = document.getElementById("confirm-password");
        var passwordToggleBtn = document.querySelector(".confirm-password-toggle-btn");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            passwordToggleBtn.textContent = "Hide";
        } else {
            passwordInput.type = "password";
            passwordToggleBtn.textContent = "Show";
        }
    }
</script>
<!--------- End Show Password Toggle Script ---------->
{% endblock %}