{% extends 'layout.html' %}

{% block title %}Privacy Policy - Deeco Electronics.{% endblock %}

{% block content %}
<!--------- Privacy Policy Hero ---------->
<section class="shop d-flex align-items-center">
    <div class="container">
        <div class="d-flex flex-column justify-content-center align-items-center" data-aos="fade-up">
            <h1 class="text-center">Privacy Policy</h1>
        </div>
    </div>
</section>
<!--------- End Privacy Policy Hero ---------->

<!--------- Privacy Policy Container ---------->
<section class="shop-container d-flex align-items-center">
    <div class="container">
        <div class="d-flex flex-column justify-content-center align-items-center mt-5 mb-3">
            <h4 class="text-center" data-aos="fade-up" data-aos-delay="200">Your privacy is important to us.</h4>
            <p data-aos="fade-up" data-aos-delay="400">It is our policy to respect your privacy regarding
                any information we may collect from you across our website.</p>
        </div>

        <div class="card mb-5" data-aos="fade-up" data-aos-delay="600">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h3 class="text-primary">Information we collect</h3>
                        <div class="container p-3">
                            <p>We only collect information about you if we have a reason to do so—for example, to
                                provide our Services, to communicate with you, or to make our Services better.</p>
                            <p>Types of Data Collected:</p>
                            <ul>
                                <div class="row">
                                    <div class="col-md-6">
                                        <li>Name</li>
                                        <li>Contact Number</li>
                                        <li>Email Address</li>
                                    </div>
                                    <div class="col-md-6">
                                        <li>Address</li>
                                        <li>Valid ID</li>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h3 class="text-primary">How we use your information</h3>
                        <div class="container p-3">
                            <p>We use the information we collect in various ways, including to:</p>
                            <ul>
                                <div class="row">
                                    <div class="col-md-6">
                                        <li>Provide, operate, and maintain our website</li>
                                        <li>Improve, personalize, and expand our website</li>
                                        <li>Understand and analyze how you use our website</li>
                                        <li>Develop new products, services, features, and functionality</li>
                                    </div>
                                    <div class="col-md-6">
                                        <li>Communicate with you, either directly or through one of our partners</li>
                                        <li>Send you emails</li>
                                        <li>Find and prevent fraud</li>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h3 class="text-primary">Third-party access to information</h3>
                        <div class="container p-3">
                            <p>We may share your information with third parties in certain situations. In such cases, we
                                will provide only the information necessary to perform the requested service and will
                                ensure that they respect your privacy.</p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h3 class="text-primary">Security of your information</h3>
                        <div class="container p-3">
                            <p>We use administrative, technical, and physical security measures to protect your personal
                                information.</p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h3 class="text-primary">Changes to this Privacy Policy</h3>
                        <div class="container p-3">
                            <p>We may update our Privacy Policy from time to time. We will notify you of any changes by
                                posting the new Privacy Policy on this page.</p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h3 class="text-primary">6. Additional Terms</h3>
                        <div class="container p-3">
                            <p>Additional terms and conditions may apply to specific products, services, or portions of
                                the website. You agree to abide by such additional terms and conditions.</p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h3 class="text-primary">Contact Us</h3>
                        <div class="container p-3">
                            <p>If you have any questions about our Privacy Policy, please contact us:
                            <ul>
                                <li>Email: <a href="mailto:deeco_raon@yahoo.com"
                                        class="text-primary">deeco_raon@yahoo.com</a></li>
                                <li>Phone: 287331749</li>
                            </ul>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--------- End Privacy Policy Container ---------->

<!--------- Footer ---------->
{% include 'footer.html' %}
<!--------- End Footer ---------->

{% endblock %}