{% extends 'layout.html' %}

{% block title %}Change Password - Deeco Electronics.{% endblock %}

{% block content %}
<!--------- Change Password Hero ---------->
<section class="shop d-flex align-items-center">
    <div class="container">
        <div class="d-flex flex-column justify-content-center align-items-center" data-aos="fade-up">
            <h1 class="text-center">Change Password</h1>
        </div>
    </div>
</section>
<!--------- End Change Password Hero ---------->

<!--------- Change Password Container ---------->
<section class="shop-container d-flex align-items-center">
    <div class="container">
        <div class="d-flex flex-column justify-content-center align-items-center mt-5 mb-3" data-aos="fade-up"
            data-aos-delay="200">
            <h4 class="text-center">You can change your password here.</h4>
        </div>

        <!--------- Push Messages ---------->
        {% include 'messages.html' %}
        <!--------- End Push Messages ---------->

        <div class="card mb-5" data-aos="fade-up" data-aos-delay="400">
            <div class="card-body">
                <div class="container p-5">
                    <form action="{% url 'user_change_password' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary mt-3 w-100">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--------- End Change Password Container ---------->

<!--------- Footer ---------->
{% include 'footer.html' %}
<!--------- End Footer ---------->
{% endblock %}