{% extends 'layout.html' %}

{% block title %}500 - Internal Server Error{% endblock title %}

{% block content %}
<div class="page-section h-75">
    <div class="container d-flex justify-content-center align-items-center h-100">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center" style="font-size: 150px;">500</h1>
            </div>
            <div class="col-lg-12">
                <p class="text-center" style="font-size: 30px;">Internal Server Error</p>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}