<section class="page-section " id="faqs">
    <div class="mb-3" data-aos="fade-up">
        <h1 class="text-white text-center">Frequently Asked Questions</h1>
        <p class="text-white text-center">F.A.Q.</p>
    </div>
    <div class="container mb-5" data-aos="fade-up" data-aos-delay="400">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="row">
                <div class="col-md-6">
                    <div class="accordion-item">
                        <h2 class="accordion-header text-primary">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                What is Deeco Electronics?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Deeco Electronics is a leading online retailer specializing in electronic hardware
                                parts. We provide a wide range of high-quality components to meet the needs of
                                hobbyists, engineers, and
                                businesses alike.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                What payment methods do you accept?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                We accept payment methods of Cash on Pickup and GCash.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                How can I track my order?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Once your order is placed, you will receive an email containing the details of your
                                order.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="accordion-item">
                        <h2 class="accordion-header text-primary">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false"
                                aria-controls="flush-collapseFour">
                                Are bulk purchase discounts available?
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Yes, we offer discounts for bulk purchases. If you are interested in buying large
                                quantities of a specific product, we give 5% discount once your total payment will be
                                greater than 1000 pesos (for registered users only).
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFive" aria-expanded="false"
                                aria-controls="flush-collapseFive">
                                How can I contact customer service?
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                You may reach to our customer service team via email at <a
                                    href="mailto:deeco_raon@yahoo.com"
                                    class="text-decoration-none text-primary">deeco_raon@yahoo.com</a>, by
                                phone at (02) 8733 1749. Our customer
                                service hours are Monday to Friday, 9 AM to 5 PM (PST).
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseSix" aria-expanded="false"
                                aria-controls="flush-collapseSix">
                                Do you offer warranties on your products?
                            </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Yes, many of our products come with manufacturer warranties. The duration and terms of
                                the warranty vary by product and manufacturer. Detailed warranty information is
                                available on the product page, or you can contact our customer service team for more
                                information.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>