{% load static %}
<footer id="footer" class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-sm-12 footer-info text-center text-md-start">
                    <a href="" class="logo  text-center align-items-center">
                        <span>Deeco Electronics.</span>
                    </a>
                    <p>Your One Stop Shop For Electronic Needs!</p>
                    <p><a href="https://www.facebook.com/DEECOELECTRONICS/"><i class="bi bi-facebook"></i> Deeco (Dee
                            Hwa Liong Electronics Equipment Corporation) </a></p>
                    <!-- <img src="{% static 'assets/logo.png' %}" alt="" class="img-fluid footer-logo rounded-circle"> -->
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="{% url 'index' %}">Home</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="{% url 'index'%}#about">About Us</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="{% url 'terms_of_service' %}">Terms of
                                Service</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="{% url 'shop' %}">Buy Products</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start mb-5">
                    <h4>Contact Us</h4>
                    <p>
                        607 Sales St, <br>
                        Quiapo, Manila, <br>
                        1001 Metro Manila<br>
                        <strong>Google Maps: </strong> <a
                            href="https://www.google.com/maps/dir//607+Sales+St,+Quiapo,+Manila,+1001+Metro+Manila/@14.6010106,120.982484,19.75z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3397ca03449481cb:0xfc78d700556e3bf7!2m2!1d120.9827265!2d14.6010177?entry=ttu"
                            target="_blank">Click here</a>
                        <br><br>
                        <strong>Phone:</strong> (02) 8733 1749<br>
                        <strong>Email:</strong> <a href="mailto:deeco_raon@yahoo.com">deeco_raon@yahoo.com</a><br>
                    </p>

                </div>

            </div>
        </div>
    </div>
</footer>