{% if request.user.is_authenticated and request.user.is_ordered %}
<!-- Review Modal -->
<div class="modal" id="myModal" data-aos="zoom-in" data-aos-delay="200">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">How's your experience with us?</h5>
                <!-- <a href="{% url 'remove_review' %}"> -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    id="removeReviewButton"></button>
                <!-- </a> -->
            </div>
            <form action="{% url 'submit_review' %}" method="post">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="rating mb-3"></div>
                    <div class="form-group mb-3">
                        <label for="comment">Give a comment *</label>
                        <textarea name="comments" id="comment" class="form-control mb-3" maxlength="50"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary w-100">Submit Rating</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#removeReviewButton').click(function () {
            $.ajax({
                url: '/remove-review',
                type: 'POST',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}'); // Set CSRF token in request headers
                },
                success: function (response) {
                    // location.reload();
                    $('#exampleModal').modal('hide');
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            })
        })
    })
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var myModal = new bootstrap.Modal(document.getElementById('myModal'));
        myModal.show();
    });

    $('.rating').starRating({
        showInfo: true,
        titles: ["Bad", "Poor", "Nice", "Good", "Excellent"],
        // Name of the hidden input
        inputName: 'rating',
        // Customize the Icon using Bootstrap Icons
        starIconEmpty: 'bi bi-star',
        starIconFull: 'bi bi-star-fill',
        starColorEmpty: 'lightgray',
        starColorFull: '#FFC107',
        starsSize: 3, // em
        stars: 5,
    });
</script>
{% endif %}